---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/i5mnoggqu8vx/entries?include=3&sys.id=6be1uFO1WMcKIqQy8eMyKu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7a23ea914d9411c517540ae7bac9a7811c52225ca81d3efc8bcc39a740dde6ab
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"5665c98d235e66ddbd5beef428332038"'
      X-Contentful-Request-Id:
      - 58b-50446764
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "i5mnoggqu8vx"
                  }
                },
                "id": "6be1uFO1WMcKIqQy8eMyKu",
                "type": "Entry",
                "createdAt": "2016-06-06T14:47:26.027Z",
                "updatedAt": "2016-06-06T14:47:26.027Z",
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "testEntry"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Test",
                "body": "My Lovely Test"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Jun 2016 16:43:26 GMT
recorded_with: VCR 3.0.3
